section.about
    .container
        .about-pay
            .row.about-us.align-items-center
                .col-12.col-xl-8.col-xxl-7.text-center.text-lg-left
                    .about-us-clmn-left
                        h2 Специально для Вас, мы настроим вашу маркетинговую систему 
                            span.d-lg-none под ключ
                        .about-us-img
                            img(src="./img/rect-sell.png", alt="key")
                .col-12.col-xl-4.offset-xxl-1.text-center
                    .about-us-clmn-right
                        <a class="btn btn-secondary" href="">Зарегистрироваться</a>
        .about-company.d-none.d-lg-block
            .row
                .col-md-6
                    .about-content
                        h2.title О нашей компании
                        p На протяжении 15 лет, к flawlessmlm обращаются за экспертной консультацией и качественной разработкой программного обеспечения при создании МЛМ бизнеса. На сегодняшний день мы реализовали более 250 проектов в 10-ках стран мира и наш штат насчитывает более 100 опытных сотрудников. 

                        p Постоянно общаясь с ТОП Лидерами и владельцами МЛМ компаний, мы выяснили, что они столкнулись с рядом проблем при работе со своей структурой.

                        p Тогда было принято решение создать систему автоматизации Рекрута, которая помогает ТОП Лидерам и Владельцам МЛМ компаний обучать участников структуры на автомате, следить за успехами своей команды, выявить на каком этапе вовлечения в структуру потенциальный партнер отказывается от регистрации в компании и многое другое.
                .col-md-6
                    .about-img
                        img(src="./img/copy.png", alt="about")