section.cap
    .container
        .cap-box
            .cap-lft-clmn.text-center.text-xl-left
                h1.title Специализированная 
                        br
                        | CRM система  
                        br
                        | для Вашей МЛМ команды
                .slider-cap
                    .slider-cap-el
                            p.sub-ttl.text-dark Передача достоверных данных от дистрибьютора к дистрибьютору
                    .slider-cap-el
                            p.sub-ttl.text-dark Обучение и пошаговое вовлечение новичка в вашу МЛМ структуру
                    .slider-cap-el
                            p.sub-ttl.text-dark Все необходимые веб-инструменты для работы с командой
                    .slider-cap-el
                            p.sub-ttl.text-dark Экономия времени на процессе обучения участников структуры
                div.cap-lft-clmn-btn-box
                    a.btn.btn-primary.btn-lg.btn-shadow(href="")(style="padding-left: 40px; padding-right: 40px;") Попробовать бесплатно
                div.d-xl-none
                    a.btn-light-outline.btn.btn-lg( href="https://www.youtube.com/watch?v=ryo0On1l3Uw" data-fancybox ) Посмотреть как это работает
            .cap-rht-clmn.d-none.d-xl-block
                .spectral-wrapper
                    .spectral-serv
                        .spectral-row.spectral-row-1
                            .spectral-el-txt
                                p Переход по реферальной 
                                    br
                                    | ссылке, с рекламного объявления, 
                                    br
                                    | на лендинг
                            .spectral-icon
                                .bg-icon_a
                        .spectral-row.spectral-row-2
                            .spectral-clmn.spectral-clmn-lft
                                .spectral-el-txt 
                                    p Цикл повторяется 
                                        br
                                        | с новым участником
                                .spectral-icon
                                    .bg-icon_g
                            .spectral-clmn.spectral-clmn-rght
                                .spectral-icon
                                    .bg-icon_b
                                .spectral-el-txt 
                                    p Регистрация
                                        br
                                        | на сайте
                        .spectral-row.spectral-row-3
                            .spectral-clmn.spectral-clmn-lft
                                .spectral-el-txt 
                                    p Настройка рекламной кампании с использованием собственной реферальной ссылки
                                .spectral-icon
                                    .bg-icon_d
                            .spectral-clmn.spectral-clmn-rght
                                .spectral-icon
                                    .bg-icon_c
                                .spectral-el-txt 
                                    p Прохождение пошагового обучения
                        .spectral-row.spectral-row-1
                                .spectral-icon
                                    .bg-icon_e
                                .spectral-el-txt 
                                    p Регистрация в основной 
                                        br 
                                        | компании
                    .spectral-wrap
                        .spectr-box
                            .spectr-rect
                                svg#triangles(xmlns='http://www.w3.org/2000/svg', width='278.31', height='288', viewBox='0 0 278.31 288')
                                  metadata
                                    // ?xpacket begin="﻿" id="W5M0MpCehiHzreSzNTczkc9d"?
                                    x:xmpmeta(xmlns:x='adobe:ns:meta/', x:xmptk='Adobe XMP Core 5.6-c142 79.160924, 2017/07/13-01:06:39        ')
                                      rdf:rdf(xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#')
                                        rdf:description(rdf:about='')
                                    // ?xpacket end="w"?
                                  defs
                                  path#Polygon_1.cls.cls-1(data-name='Polygon 1', d='M1167.99,384.505l-8,4.5v-9Z', transform='translate(-1107 -380)')
                                  path#Polygon_1_copy_12.cls.cls-2(data-name='Polygon 1 copy 12', d='M1383.03,491.352l-6.42-6.559,8.69-2.331Z', transform='translate(-1107 -380)')
                                  path#Polygon_1_copy_13.cls.cls-3(data-name='Polygon 1 copy 13', d='M1333.101,627.6l4.5,8h-9.01Z', transform='translate(-1107 -380)')
                                  path#Polygon_1_copy_15.cls.cls-4(data-name='Polygon 1 copy 15', d='M1169.52,640.594l9.18,0.1-4.5,7.8Z', transform='translate(-1107 -380)')
                                  path#Polygon_1_copy_14.cls.cls-5(data-name='Polygon 1 copy 14', d='M1113.64,483.99l-6.63,6.65,8.98,2.364Z', transform='translate(-1107 -380)')

                            .spectr-line
                                img(src="./img/spiral-line.png", alt="spiral")
                            .spectr-zig
                                img(src="./img/spiral.png", alt="spiral")
                .spectral-link.text-center
                    a.text-weight-semibold(href="https://www.youtube.com/watch?v=ryo0On1l3Uw" data-fancybox ) Посмотреть как это работает