section.section.comment
    .container
        .row
            .col-12
                h2.title.text-center Отзывы о нас
            .col-12
                .comment-slider.js-comment
                    .comment-el
                        .comment-el-box
                            .comment-triangle
                            .comment-user Александр Полевой
                            .comment-sub Основатель системы обучения онлайн-бизнесу LeadersTeam.club
                            .comment-descr В свое время я потратил много времени на поиски системы автоматизации онлайн-бизнеса, для того чтобы мне и моей команде было удобно работать в автономном режиме и дублицировать действия. Наткнувшись, по положительным
                                span.dots ... 

                                .comment-hidden  отзывам от знакомых, на сайт Рекрута, Я был очень рад, что наконец нашел то, что будет удовлетворять почти все мои потребности и запросы. Здесь предлагается огромное количество функционала для удобной, быстрой и эффективной работы с партнерами, переводя их на систему, совершенно не напрягаясь. Фактически это как мой "секретарь" в бизнесе – снимающий с меня огромную часть рутинной работы, высвобождая драгоценное время для Бизнеса. Поддержка работает на 5+ и всегда на связи. Я сотрудничаю с Марией и Юлией. Очень дружелюбные, всегда помогают и никогда не отказывают в помощи. Буду продолжать работать с данным сервисом.
                                a.comment-trigger.js-trigger-content(href="")
                                    i.far.fa-chevron-down
                        .comment-user-img
                            img(src="./img/comment-a.png", alt="user")

                    .comment-el
                        .comment-el-box
                            .comment-triangle
                            .comment-user Виктор Бандалет
                            .comment-sub BusinessChancePRO
                            .comment-descr 
                                p Я являюсь основателем сообщества успешных предпринимателей домашнего бизнеса BusinessChancePRO. Перед тем, как я стал сотрудничать с рекрутой, у меня было несколько вопросов, где бы найти готовое решение, или потратить десятки тысяч долларов на написание собственной.
                                span.dots ...
                                .comment-hidden
                                    p Так вот, рекрута на сегодняшний день - это лучшее решение из готовых платформ, которую вы сможете заточить под себя, как для образовательного бизнеса, так и системы дубликации для МЛМ бизнеса. Благодаря рекруте, через наши образовательные программы прошло уже более 1300 предпринимателей МЛМ бизнеса с различных сетевых компаний.
                                a.comment-trigger.js-trigger-content(href="")
                                    i.far.fa-chevron-down
                        .comment-user-img
                            img(src="./img/comment-b.png", alt="user")

                    .comment-el
                        .comment-el-box
                            .comment-triangle
                            .comment-user Максим Гусев
                            .comment-sub Cоздатель системы автоматизации Global Power System
                            .comment-descr  Для любого предпринимателя актуально масштабирование и автоматизация бизнеса. Благодаря платформе Рекрута я легко создал собственную бизнес систему с помощью которой построил междунарожную МЛМ сеть более чем 4000 людей
                                span.dots ...
                                .comment-hidden увеличил товарообороты, помог наладить бизнес множеству людей и как следствие за 4 месяца заработал более 75000$. Теперь благодаря системе бизнес строить это одно удовольствие, все работает на полном автомате 24\7 даже когда ты спишь или отдыхаешь с семьей.
                                    p(style="margin-top: 5px") Огромная благодарность создателям этой уникальной платформы и отлаженной работе технической поддержки. Очень доволен данным сервисом! Если вы хотите вывести свой бизнес на новый, более высокий уровень, то я вам искренне рекомендую воспользоваться услугами платформы Рекрута, уверен вы будете довольны результатами. Желаю успеха и процветания в ваших делах!
                                a.comment-trigger.js-trigger-content(href="")
                                    i.far.fa-chevron-down
                        .comment-user-img
                            img(src="./img/comment-c.jpg", alt="user")

                    .comment-el
                        .comment-el-box
                            .comment-triangle
                            .comment-user Марина Букина
                            .comment-sub Руководитель системы "Crowdfunding International"
                            .comment-descr  Я в сетевом бизнесе уже более 20 лет. За год наша структура достигла 11 000 человек. Когда встал вопрос, как этим управлять, я выбрала систему "Рекрута". Мне понравилась простота кабинета, работа службы поддержки. 
                                span.dots ...
                                .comment-hidden Благодаря системе "Рекрута" у Вас, как у руководителей, освобождается больше времени. Все технические вопросы, стратегии ведения бизнеса, расписание мероприятий - все в одном месте, партнеры могут самостоятельно изучить материал. Возможность создать несколько страниц-"воронок" помогает новичкам привлекать новых партнеров. Дополнительно Вы и ваши партнеры могут с этой системой зарабатывать деньги! Спасибо за созданный инструмент для автоматизированного ведения бизнеса.
                                a.comment-trigger.js-trigger-content(href="")
                                    i.far.fa-chevron-down
                        .comment-user-img
                            img(src="./img/review3.jpg", alt="user")

                    .comment-el
                        .comment-el-box
                            .comment-triangle
                            .comment-user Артур Гид
                            .comment-sub Руководитель проектов "MonstrBux" и "Crypto Manager"
                            .comment-descr  Для любого предпринимателя актуально масштабирование и автоматизация бизнеса. Благодаря платформе Рекрута я легко создал собственную бизнес систему с помощью которой построил междунарожную МЛМ сеть более чем 4000 людей
                        .comment-user-img
                            img(src="./img/review2.jpg", alt="user")

                    .comment-el
                        .comment-el-box
                            .comment-triangle
                            .comment-user Марина Букина
                            .comment-sub Руководитель системы "Olimp24"
                            .comment-descr  Без системы невозможно строить и развивать поистине большой бизнес. Рассмотрев множество вариантов, мы выбрали наилучший. Рекрутинговая система компании Flawlessmlm - это мощнейший инструмент успеха! Такого в интернете вы больше не найдете! От имени команды Olimp24 хотим поблагодарить компанию за эту уникальную разработку. Вы лучшие!
                        .comment-user-img
                            img(src="./img/review4.jpg", alt="user")