section.distr
    .container.distr-wrap
        .disrt-bg-img
            img(src="./img/surface-studio.png", alt="distr-bg")
        .row.justify-content-center
            .col-lg-10
                h2.title.text-center Всего 10% дистрибьюторов достигают успеха в МЛМ бизнесе. Использование специализированной CRM системы позволит добиться  больших результатов!
        .row
            .col-12.col-lg-8
                .row
                    .col-md-6
                        .distr-col
                            .bg-distr.bg-distr_a
                            .distr-col-txt Обеспечьте приток новых клиентов за счет настройки платной рекламы
                    .col-md-6
                        .distr-col
                            .bg-distr.bg-distr_b
                            .distr-col-txt Передавайте правильную информацию среди структуры
                    .col-md-6
                        .distr-col
                            .bg-distr.bg-distr_c
                            .distr-col-txt Используйте готовые веб-инструменты для работы с командой
                    .col-md-6
                        .distr-col
                            .bg-distr.bg-distr_d
                            .distr-col-txt Экономьте время на процессе обучения
                    .col-md-6
                        .distr-col
                            .bg-distr.bg-distr_f
                            .distr-col-txt Работайте из любой точки мира