section.section.how
    .container
        .row
            .col-12
                h2.title.text-center Настройте платформу один раз и избавьтесь от ряда рутинных дел
                p.sub-title.text-center  Как это сделать?
        .panel
            .row.how-clmn-box
                .col-12.col-md-6.col-lg-4
                    .how-clmn
                        .how-step 1
                            span.d-inline.d-md-none .  
                            span(style="padding-left: 5px;") этап
                        .how-txt 
                            span.text-weight-bold.text-primary Зарегистрируйтесь  
                            |  на сайте recruting.biz
                .col-12.col-md-6.col-lg-4
                    .how-clmn
                        .how-step 2
                            span.d-inline.d-md-none . 
                            span(style="padding-left: 5px;") этап
                        .how-txt 
                            span.text-weight-bold.text-primary Получите бесплатно  
                            |  демо версию сервиса
                .col-12.col-md-6.col-lg-4
                    .how-clmn
                        .how-step 3
                            span.d-inline.d-md-none . 
                            span(style="padding-left: 5px;") этап
                        .how-txt 
                            span.text-weight-bold.text-primary Свяжитесь  
                            |  с нашим менеджером
                .col-12.col-md-6.col-lg-4
                    .how-clmn
                        .how-step 4
                            span.d-inline.d-md-none .  
                            span(style="padding-left: 5px;") этап
                        .how-txt 
                            span.text-weight-bold.text-primary Настройте  
                            |  систему Рекрута под себя
                .col-12.col-md-6.col-lg-4
                    .how-clmn
                        .how-step 5
                            span.d-inline.d-md-none .  
                            span(style="padding-left: 5px;") этап
                        .how-txt 
                            span.text-weight-bold.text-primary Добавьте  
                            |  свой уникальный контент
                .col-12.col-md-6.col-lg-4
                    .how-clmn
                        .how-step 6
                            span.d-inline.d-md-none . 
                            span(style="padding-left: 5px;") этап
                        .how-txt 
                            span.text-weight-bold.text-primary Обучайте  
                            |  свою структуру и приумножайте свой капитал