section.inform(data-graph="datagraph")
    .container-fluid.container-inform
        .js-scrollbar.box
            .inform-box
                .inform-clmn
                    .iform-block.iform-block-a
                        h3 268
                        p Подключенных 
                            br
                            | систем
                    <div class="graph-container">
                        <canvas class="graphick" id="totalIncome"></canvas>
                    </div>
                .inform-clmn
                    .iform-block.iform-block-b
                        h3 2 500
                        p Прирост партнеров 
                            br 
                            | за первые
                            br.d-none.d-md-block
                            | полгода 
                            span.tooltip.tooltip-orange
                                i.fal.fa-question-circle
                                span.tooltiptext Tooltip text
                    <div class="graph-container">
                        <canvas class="graphick" id="totalIncome2"></canvas>
                    </div>
                .inform-clmn
                    .iform-block.iform-block-c
                        h3 692 700
                        p Уже присоединились
                            br
                            |  к Рекрута
                    <div class="graph-container">
                        <canvas class="graphick" id="totalIncome3"></canvas>
                    </div>
    .container
        .inform-bloc-md.d-none.d-md-block
            .row
                .col-12
                    .inform-col-section
                        h2.title.text-center Работаем в сфере МЛМ более 15 лет
                        .inform-col-block.d-md-flex
                            .inform-col
                                .inform-col-box
                                    .bg-info_col.bg-info_col_a 
                                    .inform-col-count-box
                                        .inform-col-count 1
                                        .inform-col-count-line
                                    .inform-col-txt
                                        p Мы знаем как решить Ваши проблемы со структурой   
                            .inform-col
                                .inform-col-box
                                    .bg-info_col.bg-info_col_b
                                    .inform-col-count-box
                                        .inform-col-count 2
                                        .inform-col-count-line
                                    .inform-col-txt
                                        p   Предоставим функционал, который будет работать в вашем МЛМ бизнесе
                            .inform-col
                                .inform-col-box
                                    .bg-info_col.bg-info_col_c
                                    .inform-col-count-box
                                        .inform-col-count 3
                                        .inform-col-count-line
                                    .inform-col-txt
                                        p Поможем Вам автоматизировать процесс обучения МЛМ структуры
        .inform-sm
            h2.title.text-center Работаем в сфере МЛМ более 15 лет
            .inform-col-block.js-inform-sm
                .inform-col
                    .inform-col-box
                        .inform-col-count 1
                        .bg-info_col.bg-info_col_a 
                        .inform-col-txt
                            p Мы знаем как решить Ваши проблемы со структурой   
                .inform-col
                    .inform-col-box
                        .inform-col-count 2
                        .bg-info_col.bg-info_col_b
                        .inform-col-txt
                            p   Предоставим функционал, который будет работать в вашем МЛМ бизнесе
                .inform-col
                    .inform-col-box
                        .inform-col-count 3
                        .bg-info_col.bg-info_col_c
                        .inform-col-txt
                            p Поможем Вам автоматизировать процесс обучения МЛМ структуры

section.hlrs
    .container
        .panel
            .row.justify-content-center
                .col-lg-7
                    h2.title.text-center Настоящий помощник в МЛМ бизнесе и не только
                .col-12
                    .row.hlrs-clmn-box
                        .col-md-6.col-lg-4
                            .hlrs-clmn
                                .hlrs-count
                                    h2 1
                                h4 Для владельцев 
                                    br
                                    | МЛМ компаний
                                p Управляйте структурой и следите за результатами при помощи одного инструмента

                        .col-md-6.col-lg-4
                            .hlrs-clmn
                                .hlrs-count
                                    h2 2
                                h4 Для топ лидеров 
                                    br
                                    | МЛМ компаний
                                p Наращивайте и обучайте команду

                        .col-md-6.col-lg-4
                            .hlrs-clmn
                                .hlrs-count
                                    h2 3
                                h4 Для 
                                    br
                                    | инфобизнесменов
                                p Распространяйте свой уникальный контент

section.set
    .container
        .row.justify-content-center
            .col-12.col-lg-8
                h2.title.text-center Настройте работающий маркетинговый инструмент для себя и своей команды
        .row.set-col-box
            .col-12.col-md-6.col-lg-4
                .set-col
                    .set-col-icon-box
                        .bg-set.bg-set_a 
                    .set-col-txt Дупликация действий поможет исключить искажение информации среди участников структуры
            .col-12.col-md-6.col-lg-4
                .set-col
                    .set-col-icon-box
                        .bg-set.bg-set_b
                    .set-col-txt Пошаговое обучение сделает вашу команду компетентной во всех рабочих вопросах и позволит наращивать структуру быстрее
            .col-12.col-md-6.col-lg-4
                .set-col
                    .set-col-icon-box
                        .bg-set.bg-set_c
                    .set-col-txt Необходимые для вашей работы веб-инструменты объединены в одном месте
