section.section.partners
    .container
        .row
            .col-12
                h2.title.text-center Компании наших 
                    br.d-md-none
                    | клиентов
        .row.partners-row.d-none.d-md-flex
            .col-md-6.col-lg-3
                .partners-clmn
                    .partners-clmn-img
                        img(src="./img/partners-a.jpg", alt="partners")

            .col-md-6.col-lg-3
                .partners-clmn
                    .partners-clmn-img
                        img(src="./img/partners-b.jpg", alt="partners")

            .col-md-6.col-lg-3
                .partners-clmn
                    .partners-clmn-img
                        img(src="./img/partners-c.jpg", alt="partners")

            .col-md-6.col-lg-3
                .partners-clmn
                    .partners-clmn-img
                        img(src="./img/partners-d.jpg", alt="partners")
            .col-md-6.col-lg-3.d-none.d-lg-block
                .partners-clmn
            .col-md-6.col-lg-3
                .partners-clmn
                    .partners-clmn-img
                        img(src="./img/partners-e.jpg", alt="partners")
            .col-md-6.col-lg-3
                .partners-clmn
                    .partners-clmn-img
                        img(src="./img/partners-f.jpg", alt="partners")
            .col-md-6.col-lg-3.d-none.d-lg-block
                .partners-clmn

        .partners-slider.js-patners-slider
            .partners-el
                .partners-img
                    img(src="./img/partners-a.jpg", alt="partners")
            .partners-el
                .partners-img
                    img(src="./img/partners-b.jpg", alt="partners")
            .partners-el
                .partners-img
                    img(src="./img/partners-c.jpg", alt="partners")
            .partners-el
                .partners-img
                    img(src="./img/partners-d.jpg", alt="partners")
            .partners-el
                .partners-img
                    img(src="./img/partners-e.jpg", alt="partners")
            .partners-el
                .partners-img
                    img(src="./img/partners-f.jpg", alt="partners")