section.recruting
    .container
        .row
            .col-12
                h2.title.text-center Возможности Рекрута
            .col-12
                .recruting-lg.d-none.d-lg-block
                    .row
                        // MAIN SLIDES
                        .col-5.col-xxl-5
                            .slider-nav-thumbnails
                                div
                                  div.slide-tabs Воронка продаж
                                  section.content-slider(data-id='1') 
                                    p Настройка дуплицирования ваших действий на всех этапах пользовательского пути
                                div
                                  div.slide-tabs Настройка обучения
                                  section.content-slider(data-id='2') 
                                    p Создание маршрута пошагового вовлечения нового партнера в команду
                                div
                                  div.slide-tabs Реферальные ссылки
                                  section.content-slider.t(data-id='3') 
                                    p Автоматизация процесса построения структуры и привязка нескольких проектов к единой структуре
                                div
                                  div.slide-tabs Мультилендинги
                                  section.content-slider(data-id='4') 
                                    p Использование различных тематических запросов для создания уникальных путей вовлечения
                                div
                                  div.slide-tabs Монетизация системы
                                  section.content-slider(data-id='5') 
                                    p Возможность дополнительного заработка на оплатах партнеров вашей структуры
                                div
                                  div.slide-tabs Партнерская программа
                                  section.content-slider(data-id='6') 
                                    p Дополнительный заработок для Вас и ваших партнеров за приглашение новых кандидатов в систему
                                div
                                  div.slide-tabs Адаптивность
                                  section.content-slider(data-id='7') 
                                    p Работа с командой и контроль структуры из любой точки мира, используя планшет, телефон или ноутбук
                                div
                                  div.slide-tabs Отчеты по структуре
                                  section.content-slider(data-id='8') 
                                    p Отслеживание статистики о структуре компании, ее членах и их статусах
                                div
                                  div.slide-tabs Доменное имя и SSL сертификат
                                  section.content-slider(data-id='9') 
                                    p Персонализация сайта за счет доменного имени и сертификата безопасности
                                div
                                  div.slide-tabs Пошаговое обучение
                                  section.content-slider(data-id='10') 
                                    p Дополнительная возможность заработка для Вас и вашей структуры с помощью обучающих курсов
                                div
                                  div.slide-tabs Мобильное приложение
                                  section.content-slider(data-id='11') 
                                    p Все необходимые функции вашей рекрутинговой системы всегда под рукой
                        .col-7.col-xxl-7
                            .slider
                                div(data-index='1')  
                                    .slider-img
                                        img(src="./img/include1.jpg", alt="img")
                                div(data-index='2')  
                                    .slider-img
                                        img(src="./img/include2.jpg", alt="img")
                                div(data-index='3')  
                                    .slider-img
                                        img(src="./img/include3.jpg", alt="img")
                                div(data-index='4')  
                                    .slider-img
                                        img(src="./img/include4.jpg", alt="img")
                                div(data-index='5')  
                                    .slider-img
                                        img(src="./img/include5.jpg", alt="img") 
                                div(data-index='6')  
                                    .slider-img
                                        img(src="./img/include7.jpg", alt="img")
                                div(data-index='7')  
                                    .slider-img
                                        img(src="./img/include6.jpg", alt="img")
                                div(data-index='8')  
                                    .slider-img
                                        img(src="./img/include8.jpg", alt="img")
                                div(data-index='9')  
                                    .slider-img
                                        img(src="./img/include9.jpg", alt="img") 
                                div(data-index='10') 
                                    .slider-img
                                        img(src="./img/include10.jpg", alt="img") 
                                div(data-index='11') 
                                    .slider-img
                                        img(src="./img/include11.jpg", alt="img")
                .recruting-sm.d-lg-none.js-recruting-sm
                    .recruting-sm-el
                        .recruting-sm-img
                            img(src="./img/include1.jpg", alt="img")
                        .recruting-sm-title Воронка продаж
                        .recruting-sm-txt
                            p Настройка дуплицирования ваших действий на всех этапах пользовательского пути
                    .recruting-sm-el
                        .recruting-sm-img
                            img(src="./img/include2.jpg", alt="img")
                        .recruting-sm-title Настройка обучения
                        .recruting-sm-txt
                            p Создание маршрута пошагового вовлечения нового партнера в команду
                    .recruting-sm-el
                        .recruting-sm-img
                            img(src="./img/include3.jpg", alt="img")
                        .recruting-sm-title Реферальные ссылки
                        .recruting-sm-txt
                            p Автоматизация процесса построения структуры и привязка нескольких проектов к единой структуре
                    .recruting-sm-el
                        .recruting-sm-img
                            img(src="./img/include4.jpg", alt="img")
                        .recruting-sm-title Мультилендинги
                        .recruting-sm-txt
                            p Использование различных тематических запросов для создания уникальных путей вовлечения
                    .recruting-sm-el
                        .recruting-sm-img
                            img(src="./img/include5.jpg", alt="img")
                        .recruting-sm-title Монетизация системы
                        .recruting-sm-txt
                            p Возможность дополнительного заработка на оплатах партнеров вашей структуры
                    .recruting-sm-el
                        .recruting-sm-img
                            img(src="./img/include7.jpg", alt="img")
                        .recruting-sm-title Партнерская программа
                        .recruting-sm-txt
                            p Дополнительный заработок для Вас и ваших партнеров за приглашение новых кандидатов в систему
                    .recruting-sm-el
                        .recruting-sm-img
                            img(src="./img/include6.jpg", alt="img")
                        .recruting-sm-title Адаптивность
                        .recruting-sm-txt
                            p Отслеживание статистики о структуре компании, ее членах и их статусах
                    .recruting-sm-el
                        .recruting-sm-img
                            img(src="./img/include8.jpg", alt="img")
                        .recruting-sm-title Отчеты по структуре
                        .recruting-sm-txt
                            p Персонализация сайта за счет доменного имени и сертификата безопасности
                    .recruting-sm-el
                        .recruting-sm-img
                            img(src="./img/include9.jpg", alt="img")
                        .recruting-sm-title Доменное имя и SSL сертификат
                        .recruting-sm-txt
                            p Персонализация сайта за счет доменного имени и сертификата безопасности
                    .recruting-sm-el
                        .recruting-sm-img
                            img(src="./img/include10.jpg", alt="img")
                        .recruting-sm-title Пошаговое обучение
                        .recruting-sm-txt
                            p Дополнительная возможность заработка для Вас и вашей структуры с помощью обучающих курсов
                    .recruting-sm-el
                        .recruting-sm-img
                            img(src="./img/include11.jpg", alt="img")
                        .recruting-sm-title Мобильное приложение
                        .recruting-sm-txt
                            p Все необходимые функции вашей рекрутинговой системы всегда под рукой