footer.footer
    .foo-top
        .container
            .row.justify-content-lg-between
                .col-12.col-lg-4(style="margin-bottom: 20px")
                    a.foo-logo(href="")
                        img(src="./img/logo-bot.png", alt="logo")
                    p Рекрута - специализированная CRM система для работы с МЛМ командой
                .col-12.col-lg-auto
                    h5.foo-label Навигация
                    ul.costom-list
                        li
                            a(href="") Блог
                        li
                            a(href="") О нас
                .col-12.col-lg-auto
                    h5.foo-label Контакты
                    ul.contact-list
                        li.contact-item
                            span.contact-item-icon
                                i.fab.fa-skype
                            a(href="") live:solutions.flawlessmlm
                        li.contact-item
                            span.contact-item-icon
                                i.far.fa-envelope-open
                            a(href="") support@recruting.biz
                .col-12.col-lg-auto
                    h5.foo-label.d-none.d-lg-block
                        br
                    ul.contact-list
                        li.contact-item
                            span.contact-item-icon
                                i.far.fa-phone
                            a(href="") +38 (063) 507 - 35 - 35
                        li.contact-item
                            span.contact-item-icon
                                i.far.fa-phone
                            a(href="") +7 (499) 944 - 46 - 23
    .foo-bot
        .container
            .row.justify-content-between
                .col-auto
                    p Все права защищены 2005-2019
                .col-auto
                    p Разработка  
                        a(href="") - FlawlessMLM