script(src="js/jquery-3.3.1.js")
script(src="../plugins/slick/slick.min.js")
script(src="../plugins/fancybox/jquery.fancybox.min.js")
script(src="../plugins/scrollbar/jquery.mCustomScrollbar.concat.min.js")
script(src="../plugins/scrollbar/jquery.scrollbar.min.js")
script(src="../plugins/echarts.js")
script(src="js/scripts.min.js")